// COLOR VARIABLES
$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-darkblack: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;
$error-state: #d22d2d;

//BREAKPOINT VARIABLES
//Phone-breakpoint: 320px-767px
$tablet-breakpoint: 768px; //768px - 1279px
$desktop-breakpoint: 1280px; //1280px above - use this 

//DESKTOP MARGIN VARIABLE 
$desktop-margin: 1020px;