@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/globals" as *;

// HERO
.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  height: 185px;
  @include tablet {
    height: 500px;
  }
  &-img-overlay {
    height: 185px;
    @include tablet {
      height: 500px;
    }
  }
}

// ABOUT
.about {
  @include padding-mobile-component;
  @include tablet {
    @include padding-desktop-tablet-component;
  }
  &__title {
    @include mobile-section-header;
    @include padding-mobile-headline;
    margin: 0;
    @include tablet {
      @include desktop-tablet-section-header;
      @include padding-desktop-tablet-headline;
    }
  }
  &__quote {
    @include mobile-sub-header;
    margin-top: 0;
    margin-bottom: 5px;
    @include tablet {
      @include desktop-tablet-sub-header;
      @include padding-tablet-about;
    }
    @include desktop {
      width: 59%;
      padding-bottom: 16px;
    }
  }
  &__bryan {
    @include mobile-sub-header;
    @include tablet {
      font-size: 16px;
      margin-left: 60px;
    }
  }
  &__band-name {
    @include mobile-sub-header;
    margin-bottom: 0;
    @include tablet {
      @include desktop-tablet-sub-header;
      @include padding-desktop-tablet-headline;
      padding: 32px 60px 12px 60px;
      margin-bottom: 0;
    }
  }
  &-band-description {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      @include padding-tablet-about;
      padding-bottom: 16px;
    }
    @include desktop {
      padding-right: 125px;
    }
  }
  &__band-par {
    @include mobile-body-copy;
    font-weight: bold;
    @include tablet {
      @include desktop-tablet-body-copy;
    }
    @include desktop {
      padding-right: 92px;
    }
  }
}

.concert__img {
  width: 100%;
  margin-bottom: 16px;
  @include tablet {
    @include padding-tablet-about;
    width: 85%;
  }
}

// PHOTO GALLERY
.photo-gallery {
  background-color: $secondary-alabaster;
  @include padding-mobile-component;
  @include tablet {
    @include padding-desktop-tablet-component;
  }
  &__title {
    @include mobile-section-header;
    @include padding-mobile-headline;
    margin: 0;
    @include tablet {
      @include desktop-tablet-section-header;
      @include padding-desktop-tablet-headline;
    }
  }
  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    padding-bottom: 16px;
    filter: grayscale(60%);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 31%;
    }
    @include desktop {
      width: 32.3%;
    }
  }
}

// JOIN THE CONVERSATION
.comment {
  background-color: $primary-white;
  @include padding-mobile-component;
  @include tablet {
    @include padding-desktop-tablet-component;
  }
}

.comment__title {
  @include mobile-section-header;
  @include padding-mobile-headline;
  padding-bottom: 0;
  margin: 0;
  @include tablet {
    @include desktop-tablet-section-header;
    @include padding-desktop-tablet-headline;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-form,
.comment-box {
  display: flex;
}

.comment-form {
  width: 100%;
  padding-right: 0;
}

.comment-avatar {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-color: $secondary-mercury;
  background-size: cover;
  width: 2.25rem;
  height: 2.25rem;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  border-radius: 50%;
  // object-fit: cover;
  flex: none;
  @include tablet {
    width: 3rem;
    height: 3rem;
  }
}

.input-form,
.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-content {
  width: 100%;
}

.input__name {
  width: calc(100%-3rem);
  flex-grow: 1;
  height: 0.125rem;

  border-radius: 0.25rem;
  padding: 1rem;
  border: 0.0625rem solid $secondary-mercury;
  background-color: $secondary-alabaster;
  box-sizing: border-box;
  &:focus {
    border-color: $primary-black;
  }
  &::placeholder {
    color: $primary-black;
  }
  @include tablet {
    height: 1rem;
    padding: 1rem;
  }
}

.input__comment {
  background-color: $secondary-alabaster;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  &::placeholder {
    color: $primary-black;
    padding: 0;
  }
  &:focus {
    border-color: $primary-black;
  }
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.input__label {
  text-transform: uppercase;
  color: $primary-silver;
  margin: 0;
  font-size: 0.75rem;
  padding: 1rem 0 0.4375rem 0;
}

.comment-input-comment {
  color: $primary-black;
}

.comment-name {
  margin: 0;
  color: $primary-black;
  font-weight: bold;
}

.comment-msg {
  color: $primary-black;
}
.comment-date {
  color: $primary-silver;
  margin-left: 1rem;
}

.comment__button {
  margin-bottom: 1rem;
  @include tablet {
    padding: 0 2rem;
  }
}

.input--error {
  border: 2px solid $error-state;
}
