@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/globals" as *;

// HERO
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  &__album-title {
    color: $primary-white;
    @include padding-mobile-component;
    @include mobile-sub-header;
    @include tablet {
      @include padding-desktop-tablet-component;
      @include desktop-tablet-page-header;
    }
  }
  &__soundcloud {
    width: 100%;
    height: 119px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
}

//SHOWS
.shows {
  padding: 1rem;
  &__title {
    @include padding-mobile-headline;
  }
}
