@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/globals" as *;

// HERO
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  height: 17.5625rem;
  width: 100%;
  box-sizing: border-box;
  @include tablet {
    height: 31.25rem;
  }
  &-img-overlay {
    height: 17.5625rem;
    @include tablet {
      height: 31.25rem;
    }
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }
  &__album-title {
    color: $primary-white;
    padding-left: 1rem;
    @include mobile-sub-header;
    font-size: 0.625rem;
    @include tablet {
      @include padding-desktop-tablet-component;
      @include desktop-tablet-sub-header;
      padding-left: 2.25rem;
    }
  }
  &__title {
    width: 71%;
    margin-top: 0;
    @include tablet {
      padding-left: 2.25rem;
    }
    @include desktop {
      width: 67%;
      margin-right: 0;
    }
  }
  &__soundcloud {
    width: 90%;
    height: 7.4375rem;
    padding-left: 1rem;
    @include tablet {
      padding-left: 2.25rem;
      width: 53%;
    }
    @include desktop {
      padding-left: 0;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }
  }
}

//SHOWS
.shows {
  @include tablet {
    padding: 2.25rem;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__title {
    @include mobile-section-header;
    @include padding-mobile-headline;
    padding-bottom: 0;
    padding-left: 1rem;
    margin: 0;
    @include tablet {
      @include desktop-tablet-section-header;
      padding: 1rem 0 0 0;
    }
  }
  &-box {
    padding: 1rem;
    &:hover:not(.box-selected) {
      background-color: $secondary-alabaster;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__date,
  &__venue,
  &__location {
    @include tablet {
      width: 20%;
    }
    &-header {
      @include mobile-labels-buttons;
      font-size: 0.75rem;
      color: $primary-silver;
      @include tablet {
        width: 20%;
      }
    }
  }

  &__buy {
    @include tablet {
      margin-top: 0;
    }
  }
  &__date {
    font-weight: bold;
  }
}

.box-selected {
  background-color: $secondary-mercury;
}

.display--none {
  display: none;
}
